<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greendrivinghelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.imp.greendrivinghelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.imp.data.DataActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.imp.data.DrivingHabitsDataActivity">
        </activity>
        
        <activity
            android:name="com.imp.data.HomeActivity">
        </activity>
        
        <activity
            android:name="com.imp.data.InforErrorDataActivity">
        </activity>
        
        <activity
            android:name="com.imp.data.RealTimeDataActivity">
        </activity>
        
        <activity
            android:name="com.imp.data.TotalDataActivity">
        </activity>
        
        <activity
            android:name="com.imp.drivingEvaluating.DrivingEvaluatingActivity">
        </activity>
        
        <activity
            android:name="com.imp.more.MoreActivity">
        </activity>

        <activity
            android:name="com.imp.savinghelper.SavingHelperActivity">
        </activity>
    </application>

</manifest>
